.content-wrap .content h3.title::after {
    display: none;

}

button i.vertical-aligned {
    vertical-align: bottom;
}

.hero-content .hero-buttons {
    text-align: center;
}


a.more_samples_link i.material-icons {
    font-size: unset;
    margin-left:0.3em;
    font-weight: bolder;
    vertical-align: middle;
}

.hero-container {
    margin-bottom: 2em;
}

.content-wrap .content {
    margin-top: 2em;
}

.sample-image {
    margin-top: 4.4em;
    padding: 30px;
    background-color:white;
}

body {
    background-color: unset;
}

.main.container {
    background-color:#e9edf0;
}