<div class="content">
  <h3 class="title" id="{{ post.jump_link }}">{{ post.title }}</h3>

  <p class="excerpt"><b>Title: {{ post.primary_sample_title }}</b>
    {% if post.primary_sample_copyright != 'None' %}
    <br /><span class="copyright">©{{ post.primary_sample_copyright }}</span>
    {% endif %}
    <br /> {{ post.primary_sample_description }}
  </p>


  {% if post.project_link != empty %}
  <a href="{{ post.project_link | prepend: site.baseurl }}" class="project-link" target="_blank"><button class="btn btn-default btn-lg">Full {{ post.primary_sample_type }}  <i class="material-icons vertical-aligned">open_in_new</i></button></a>
  {% endif %}


  {% if post.more_samples %}
  <h4>More:</h4>
  <ul>
    {% for sample in post.more_samples %}
    <li>
      <a href="{{ sample.content_url | prepend: site.baseurl }}" class="more_samples_link" target="_blank">{{ sample.title }} ({{ sample.type }})<i class="material-icons vertical-aligned">open_in_new</i></a> 
      <br />
      {% if sample.copyright != 'None' %}
        <span class="copyright">©{{ sample.copyright }}</span><br />
      {% endif %} 
      {{ sample.description }}
      
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}


  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
