openapi: 3.0.2
info:
  title: Music Scales and Keys
  description: 'This is a sample API for returning information about music keys and scales.  The endpoints are not functional.'
  contact:
    email: shavaun@victoriousninja.com
  version: 1.0.0
servers:
- url: https://sampleurl.com/notreal
paths:
  /scales:
    get:
      summary: Retrieves the scales that match the specified parameters.
      description: Retrieves an array of the scales that match the specified parameters. Each scale is returned as an object with attributes of the scale. The notes of each scale include the first tonic but not the second.
      operationId: getScales
      parameters:
      - name: key
        in: query
        description: The key of the scales to retrieve.
        required: false
        style: form
        schema:
          type: string
          default: C
          enum:
            - A
            - A#
            - Bb
            - B
            - C
            - C#
            - Db
            - D
            - D#
            - Eb
            - E
            - F
            - F#
            - Gb
            - G
            - Ab
      - name: notes
        in: query
        description: An array of notes that the scales must contain. Sharps and flats are treated as equals. For example, if you specify A# then scales with A# or Bb will match.
        schema:
          type: array
          items:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/scale'
        404:
          description: No scale matches the specifications
          content: {}
components:
  schemas:
      scale:
          type: object
          properties:
            key_tonic:
              type: string
              example: "C"
              format: int64
            key_type:
              type: string
              example: "major"
              format: int64
            notes:
              type: array
              example: ["A","B","C","D","E","F","G"]
              items:
                type: string
